@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body::-webkit-scrollbar{
    display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}


